<h2>Статистика</h2>
<div class="statistics">
  <img src="https://sun9-68.userapi.com/impg/nYT8QELeK55a031RguWGb1MIw7jzgjGmGBMLxQ/wPeuP6iTsTI.jpg?size=822x842&quality=96&sign=3ecdc676e1b8d0d64f859774f7cc8d34&type=album">
</div>

<div class="description">
  <div class="flex">
    <span>1 - Электроника и техника</span>
    <span class="price">550 ₽</span>
  </div>

  <div class="flex">
    <span>2 - Продукты</span>
    <span class="price">1200 ₽</span>
  </div>

  <div class="flex">
    <span>3 - Коммунальные платежи</span>
    <span class="price">2000 ₽</span>
  </div>

  <div class="flex">
    <span>4 - Бытовые нужды</span>
    <span class="price">480 ₽</span>
  </div>

  <div class="flex">
    <span>5 - Хобби</span>
    <span class="price">749 ₽</span>
  </div>
</div>
